body {
	text-align: left;
	font-family: arial, sans-serif;
} 

table {
	table-layout: fixed;
    font-family: arial, sans-serif;
    border-collapse: no;
    width: 100%;
}

td, th {
    border: none;
    text-align: left;
    padding: 8px;
}

th {
	background-color: #5480c7;
}

tr:nth-child(even) {
    background-color: #cbcbfc;
}
tr:nth-child(odd) {
    background-color: #eceff8;
}

#hourlyTable {
    font-size:10px;
    text-align:center;
}