<!DOCTYPE html>

<html>
    <head>
        <title> FAQ!</title>
        <link rel="stylesheet" type="text/css" href="../static/styles.css"/>
        <script src="../static/index.js"></script>

        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <style>
            * {
                box-sizing: border-box;
            }
        </style>

    </head>
    <body>
        <h2>Storm Chasers</h2>
        <h4 id='date'></h4>
        <table style="width:100%">
            <tr style="color:white;">
                <th>Weather Predictions</th>
                <th>Weather History</th> 
                <th><a href="./FAQ.html" style="color: white;">FAQ/About</a></th>
                <th></th>
            </tr>
            <tr>
                <td>Single Source</td>
                <td>Past Week</td> 
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Source Comparison</td>
                <td>Record Highs/Lows</td> 
                <td></td>
                <td></td>
            </tr>
        </table>

        <br/><br/>

        <div style="text-align:center;">
            <h2>FAQ/About</h2>
            <h3>  Sources:</h3>
            <a href="https://openweathermap.org" target="_blank" style="color: black;">Source1</a>
            <a href="https://www.ncdc.noaa.gov/data-access/model-data/model-datasets/numerical-weather-prediction" target="_blank" style="color: black;">Source2</a>
            <a href="https://darksky.net/forecast/40.7127,-74.0059/us12/en" target="_blank" style="color: black;">Source3</a>
            <br/><br/>

            <h3>  Developers:</h3>
            <p>     Hua Gao</p>
            <P>     Tim McCaslin</P>
            <p>     Yiqun Qian</p>
            <p>     Yifan Shi</p>
            <p>     Yang Xiao</p>

        </div>
    </body>
</html>