<!DOCTYPE html>

<html>
    <head>
        <title> My Webpage!</title>
        <link rel="stylesheet" type="text/css" href="styles.css"/>
        <script async src="index.js"></script>

        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        
        <style>
        * {
            box-sizing: border-box;
        }

        /* Create two unequal columns that floats next to each other */
        .column {
            float: left;
            padding: 10px;
            height: 300px; /* Should be removed. Only for demonstration */
        }

        .left {
          width: 10%;
        }

        .right {
          width: 90%;
        }

        /* Clear floats after the columns */
        .row:after {
            content: "";
            display: table;
            clear: both;
        }

        @media screen and (max-width: 600px) {
            .column {
                width: 100%;
            }
        }

        </style>

    </head>
    <body>
        <h2>Storm Chasers</h2>
        <h4 id='date'></h4>
        <h4>Omaha Current Temperature: <span th:utext="${curTemp}"></span>&#176F</h4>
        
        <table style="width:100%">
            <tr style="color:white;">
                <th><a href="/singlesource" style="color: white;">Weather Predictions - Single Source</th>
                <th><a href="./" style="color: white;">Weather Predictions - Source Comparison</th>
                <th><a href="/history" style="color: white;">Weather History</th> 
                <th><a href="/faq" style="color: white;">FAQ/About</a></th>

            </tr>
        </table>
		 
        <h2>Weather Predictions - Source Comparison</h2>

        <div class="row">
            <div class="column left" style=" border-collapse: collapse;">
                <p>City:</p>
                <p style="background-color: black; color: white;"> <Strong> Select:</Strong></p>

                <form action="#" th:action="@{/}" th:object="${command}" method="post">
                    <fieldset>
                        <div>
                            <input type="radio" name="city" value="Omaha" checked=""/> Omaha<br/>
                            <input type="radio" name="city" value="Lincoln"/> Lincoln<br/>
                        </div>

                    <p style="background-color: black; color: white;"> <Strong> Source:</Strong></p>

                    <ul>
                        <li th:each="radioValue : ${singleSelectAllValues}">
                            <input type="radio"
                                   th:field="*{cityRadioButtonSelectedValue}"
                                   th:value="${radioValue}" />
                            <label
                                th:for="${#ids.prev('cityRadioButtonSelectedValue')}"
                                th:text="${radioValue}"></label>
                        </li>
                    </ul>
                    
                    
                    <div>
                        <input id="source1" type="checkbox" name="source" value="OWM" checked=""/> OWM<br/>
                        <input id="source2" type="checkbox" name="source" value="DarkSky"/> DarkSky<br/>
                        <input id="source3"type="checkbox" name="source" value="NOAA"/> NOAA<br/>
                        <input type="checkbox" name="source" value="All Sources"/> All Sources<br/>
                    </div>
                    <br/>
                    <input type="submit"/>
                </form> 
            </div>
  
            <div class="column right">
   
                <h2> Omaha Current Temperature</h2>
		<table id="hourlyTable" style="width:100%">
                    <tr style="color:white;">
                        <th>Time</th>
                        <th th:each="hourly : ${hourlyDatas}" th:text="${hourly.hour}"></th>
                    </tr>
                    
                    <tr >
                        <td><b>OWM</b></td>
                        <td th:each="hourly : ${hourlyDatas}" th:text="${hourly.temp} + '&#176'"> </td> 
                       			
                    </tr>
                    <tr>
                        <td><b>Darksky</b></td>
                        <td th:each="hourly : ${hourlyDatas}" th:text="${hourly.temp} + '&#176'"> </td> 					
                    </tr>
                    
                    <tr>
                        <td><b>NOAA</b></td>
			<td th:each="hourly : ${hourlyDatas}" th:text="${hourly.temp} + '&#176'"> </td>			
                    </tr>
		</table>

            </div>
        </div>

    </body>
</html>
