<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>ass2</display-name>
  <welcome-file-list>
    <welcome-file>daily.html</welcome-file>
    <welcome-file>daily.htm</welcome-file>
    <welcome-file>daily.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
<servlet>
       <servlet-name>WeatherServlet</servlet-name>
       <servlet-class>servlet.WeatherServlet</servlet-class>
  </servlet>
  <servlet-mapping>
      <servlet-name>WeatherServlet</servlet-name>
      <url-pattern>/</url-pattern>
   </servlet-mapping>
</web-app>