body {
	text-align: left;
	font-family: arial, sans-serif;
} 

table {
	table-layout: fixed;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #000000;
    text-align: left;
    padding: 8px;
}

th {
	background-color: #4286f4;
}

tr:nth-child(even) {
    background-color: #dddddd;
}